#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
}

#modal-background {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: 5px solid #9aa59a;
  background-color: white;
  width: 60vw;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#modal-background::-webkit-scrollbar {
  width: 20px;
}

#modal-background::-webkit-scrollbar-track {
  border-radius: 100px;
}

#modal-background::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8ba6a9;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.resources-in-p {
  display: inline-flex;
}

#confirm-background {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: 5px solid #8ba6a9;
  background-color: white;
  width: 50vw;
}



#confirm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#confirm-content h1 {
  color: #8ba6a9;
  font-size: 1.5rem;
}

#confirm-content p {
  font-size: 1rem;
  font-weight: 600;
}

#status-form {
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#buttons button:disabled {
  background-color: #9aa59a;
}

#buttons button:disabled:hover {
  outline: none;
  cursor: default;
}

#carousel button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  background: none;
  border: none;
}

#carousel button:hover {
  outline: none;
  border: none;
  font-size: 3rem;
}

#combat-list {
  display: flex;
  gap: 15px;
}

#combat-list .thead {
  color: #80d0b2;
  font-weight: 600;
}

.links {
  color: #8ba6a9;
}

.links:hover {
  color: #80d0b2;
  cursor: pointer;
}

#phone-notif {
  display: none;
}

@media screen and (max-width: 500px) {
  #phone-notif {
    display: block;
  }

  #phone-notif #modal-background {
    height: 95vh;
    width: 90vw;
  }

  #phone-notif p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
